body{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.wrap{
    display: flex;
    width: 1700px;
    height: max-content;
    /*border: solid 3px blueviolet;*/
    flex-wrap: wrap;
}