body {
      font-family: Calibri, serif;
      font-size: 50px;
  }
  h1, h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  span{
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  button{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
  }
  img{
    padding-top: 100px;
    height: 300px;
    width: 300px;
    margin-left: 42%;
    margin-right: 42%;
  }