.permissions_des_salles{
  border: 3px solid green;
  margin: 0px 0px 0px 0px;
  height: 18vw;
}

#permission_moins{
padding-left: 80vw;
}
.material-symbols-outlined{
font-size: xx-large;
}

.box_bouton_actif_inactif{
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin: 0px 0px 0px 0px;
width: 90vw;
height: 14vw;
}
  
/*style sur petits écrans*/
@media screen and (max-width: 850px){
section#permissions_des_salles.permissions_des_salles{
  display: block;
  height: max-content;
  border: 3px solid green;
  margin: 0px 0px 20px 0px;
  width: 1300px;
  font-size: 50px;
}
input.partenaire{
  font-size: 50px;
}
#permission_moins{
padding-left: 70vw;
}
.box_bouton_actif_inactif{
display: block;
height: max-content;
width: 1000px;
}
}
