.bouton_liste_partenaire{
  margin: 20px 0px 20px 0px;
}

.ajouter_une_salle{
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  border: 3px solid green;
}

  .informations_client_et_droits_client{
      display: flex;
      justify-content: space-between;
      margin-top: 5vw;
      margin-right: 0vw;
      margin-left: 1vw;
      width: min-content;
  }
  
  .informations_client{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: max-content;
  }
  
  section.informations_client > span *{
      margin-left: 50px;
      margin-bottom: -10vh;
      width: max-content;
  }

  .droits_client label{
      border: 1px solid black;
      width: min-content;
      text-align: center;
      margin-left: 10vw;
      margin-bottom: 0.5vh;
      display: flex;
      justify-content: center;
      width: 20vw;
  }
  
  input{
      margin-top: 3vh;
      margin-left: 54vw;
      width: min-content;
  }
  
  .toggle{
      margin-left: 1vw;
      display: flex;
      flex-direction: column;
      width: max-content;
  }


        .droits_client, .toggle{
          float: left;
        }
      
        .display_none{
          display: none;
        }
      
  /*style sur petits écrans*/
  @media screen and (max-width: 850px){

    section.ajouter_une_salle{
      width: 90%;
      margin-left: 5vw;
      font-size: 50px;
    }
    .valider{
      font-size: 50px;
    }
    .informations_client_et_droits_client{
      display: flex;
      margin-top: 1%;
      margin-right: 0;
      margin-left: 10vw;
      font-size: 50px;
      width: min-content;
    }
    .informations_client{
      display: flex;
      flex-direction: column;
      width: none;
      float: none;
      font-size: 50px;
  }
  section.informations_client > span *{
    display: flex;
    margin-left: 0px;
    margin-bottom: 1vh;
    width: 200px;
    font-size: 40px;

}
  section .droits_client {
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 30px;
    width: 700px;
  }
  .droits_client label{
    display: flex;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    margin-right: 50px;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-size: 40px;
  }
  input{
    margin-top: 1vh;
    margin-left: 80vw;
  }
  .toggle{
    margin-top: 10vh;
    margin-bottom: 0.5vh;
    margin-left: 0vw;
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 50px;
  }
  .toggleSwitch_permissions_des_salles{
    margin-bottom: 5vh;
  }
  section.toggle{
    margin-top: 10vh;
  }
  }

  .display_none{
    display: none;
  }

  input#client_name.display_none{
    display: none;
  }