.footer_partenaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

/*button_bar*/
.btn-group button, .btn-group div{
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .flex_end{
    margin-right: 60px;
  }
 
.flex_start{
  margin-left: 10px;
}